/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

@keyframes email {
    0% {color: #184a62;}
    30% {color: #296f7a;}
    60%{color: #5ea79b;}
    100% {color: #50aba4;}
}

* {
    // background: black;
    // color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", "Avenir Next", "Helvetica Neue", "Arial", sans-serif;
}

.large-letter {
    font-size: 40px;
}