<div class="header-container">
    <div class="header-container-text">
        <div class="header-container-text-title">
            <span class="large-letter">👨‍💻</span> Adam Timpson
        </div>
        <div class="header-container-text-content">
            <span class="header-container-text-content-item">💻 Projects</span>
            <span class="header-container-text-content-item">📚 Tutorials</span>
            <span class="header-container-text-content-item">✍️ Writings</span>
        </div>
    </div>
    <div class="header-container-img">
        <img src="/assets/macbook.jpg" alt="">
    </div>
</div>