.header-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 1rem auto 0 auto;

    &-text {
        border: 2px solid blue;
        width: 50%;

        h1 {

        }

        p { 

        }

    }

    &-img {
        border: 2px solid red;
        width: 50%;
    }
}