<div class="header-container">
    <div class="header-container-text">
        <div class="header-container-text-title">
            <span class="large-letter">👨‍💻 A</span>dam Timpson.
        </div>
        <div class="header-container-text-content">
            "Experience is the name everyone gives to their mistakes"
            <br />
            <em>- Oscare Wilde</em>
        </div>
    </div>
    <div class="header-container-img">
        <img src="/assets/macbook.jpg" alt="">
    </div>
</div>